.sendForm {
    padding: 73px 70px 20px 70px;
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
}

.textarea {
    width: 976px;
    border-radius: 20px;
    padding: 12px;
    background-color: #F5F7FB;
    box-shadow: 0 0 2px #c2c4ce;
    border: #F5F7FB;
    resize: none;
}

.button {
    /*position: absolute;*/
    background: #0066CC;
    color: white;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-weight: 600;
    justify-content: center;
    line-height: 19.52px;
    padding: 10px 25px;
    width: 120px;
    height: 40px;

}

.button:hover {
    background-color: #015bb4;
    border-color: transparent;
}

.button:active {

}
